body {
    margin: 0px 0px 1px 0px; /* the extra 1px allows the iOS inner/outer check to work */
    background: #898989;
}

#orientation {
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/orientation.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(0, 0, 0);
    z-index: 999;
    display: none;
}

    .progress, .bar, .progress-bar {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    }
    
    .fire-info {

    }
    
    .loading {
        font-size: 16px;
        color: black;
        position: relative;
        right: 80px;
        
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    .fire {
        font-size: 40px;
        color: #363636;
        
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    .killed {
        font-size:40px;
    }
    /*
    .active {
        -webkit-transition: all 2s ease;
        -moz-transition: all 2s ease;
        -o-transition: all 2s ease;
        -ms-transition: all 2s ease;
        transition: all 2s ease;
    }*/
    .hit-mask, .heart-symbol {
        opacity: 0;
    }
    /* The animation code */
@keyframes example {
    from {opacity:0.5;}
    to {opacity:0;}
}

/* The element to apply the animation to */
.hit-mask.active {
    opacity: 0;
    animation-name: example;
    animation-duration: 0.5s;
}

.life-bar {
    background-image: none;
    background-color: rgba(114, 153, 160, 0.64);
}
.life-bar-inner {
    background-image: none;
    background-color: rgba(37, 103, 214, 0.709804);
}

.armor-bar {
    background-image: none;
    background-color:  rgba(70, 87, 156, 0.19);
}
.armor-bar-inner {
    background-image: none;
    background-color: rgba(85, 132, 210, 0.709804);
}
#game-info {
    background:url(../images/start.png) no-repeat center center;
}
#welcome-screen {
    background:url(../images/main.png) no-repeat center center;
    background-color:#4F6273;
    -moz-box-shadow: inset 0 0 200px #0A0A0A;
    -webkit-box-shadow: inset 0 0 200px #0A0A0A;
    box-shadow: inset 0 0 200px #0A0A0A;
}
#welcome-screen div {
        background-color: rgba(255, 255, 255, 0.59);
        padding:30px;
        margin-top:50px;
}
#play-now {
    margin-top: 50px;
    background-color: #B6AC7E;
    display: inline-block;
    padding: 17px;
    border-radius: 29px;
    font-size: 2em;
    box-shadow: 0 0 13px gray;
    cursor:pointer;
}



    

